:root {
  --main-bg-color: #222;
  --main-text-color: white;
  --main-color: #4CAF50;
  --secondary-bg-color: #8080805c;
  --box-shadow-color: #ffffff5d;
  --hover-bg-color: #99999911;
  --hover-text-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;
  min-height: 100vh;
  padding: 30px;
}

#upload {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

#auth {
  display: flex;
  justify-content: space-between;
}

.authBlock {
  display: flex;
  gap: 10px;
  align-items: center;
  background: var(--secondary-bg-color);
  padding: 10px;
  border-radius: 7px;
}

.avatar {
  border-radius: 50%;
}

.authButton {
  padding: 5px;
  transition: 0.2s;
}
.authButton:hover {
  background-color: var(--main-color);
}

.infoBlock {
  gap: 5px;
  display: flex;
  flex-direction: column;
}

.logoBlock h1 {
  font-size: 28pt;
}

.urlInput {
  font-size: 16px;
  width: 100%;
  padding: 6px;
  outline: 0;
  border: 0;
  border-radius: 3px;
  transition: 0.3s;
}

.urlInput:focus {
  box-shadow: 0px 0px 3px 4px var(--box-shadow-color);
}

.uploadBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex-grow: 1;
  justify-content: center;
  border: 3px dashed;
  padding: 20px;
  border-radius: 10px;
  transition: 0.2s;
  cursor: pointer;
}

.uploadBlock h1 {
  text-align: center;
}

.uploadBlock:hover {
  background-color: var(--hover-bg-color);
}

.uploadText {
  color: #ffffffb1;
  transition: 0.2s;
}

.uploadIcon {
  font-size: 170px;
  transition: 0.2s;
  color: #ffffffb1;
}

.uploadBlock:hover .uploadText,
.uploadBlock:hover .uploadIcon {
  transform: scale(1.1);
  color: var(--hover-text-color);
}

.urlBlock {
  width: 100%;
  display: flex;
  gap: 20px;
}

button {
  cursor: pointer;
  color: white;
  border: 2px solid var(--main-color);
  background-color: transparent;
  padding: 8px 20px;
  border-radius: 5px;
  font-size: 16px;
  transition: 0.2s;
}

.uploadButton:hover {
  color: var(--main-bg-color);
  background-color: var(--main-color);
}

.uploadButton:active:not(.uploadButton:disabled) {
  transform: scale(0.9);
}

.uploadButton:disabled {
  cursor: not-allowed;
  border: 2px solid gray;
}

.uploadButton:disabled:hover {
  background-color: gray;
}

.active {
  border-color: var(--main-color);
  color: var(--main-color) !important;
}
