* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #222;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;
  min-height: 100vh;
  padding: 30px;
}

#upload {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

#auth {
  display: flex;
  justify-content: space-between;
}

.authBlock {
  display: flex;
  gap: 10px;
  align-items: center;
  background: #8080805c;
  padding: 10px;
  border-radius: 7px;
}

.avatar {
  border-radius: 50%;
}

.authButton {
  padding: 5px;
  transition: .2s;
}
.authButton:hover{
  background-color: #4CAF50;
}

.infoBlock {
  gap: 5px;
  display: flex;
  flex-direction: column;
}

.logoBlock h1 {
  font-size: 28pt;
}

.urlInput {
  font-size: 16px;
  width: 100%;
  padding: 6px;
  outline: 0;
  border: 0;
  border-radius: 3px;
  transition: .3s;
}

.urlInput:focus::placeholder {
  color: #216760;
}

.urlInput:focus {
  box-shadow: 0px 0px 3px 4px #ffffff5d;
}

.uploadBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex-grow: 1;
  justify-content: center;
  border: 3px dashed;
  padding: 20px;
  border-radius: 10px;
  transition: .2s;
  cursor: pointer;
}

.uploadBlock h1 {
  text-align: center;
}

.uploadBlock:hover {
  background-color: #99999911;
}

.uploadText {
  color: #ffffffb1;
  transition: .2s;
}

.uploadIcon {
  font-size: 170px;
  transition: .2s;
  color: #ffffffb1;
}

.uploadBlock:hover .uploadText {
  scale: 1.1;
  color: #ffffff;
}

.uploadBlock:hover .uploadIcon {
  scale: 1.1;
  color: #ffffff;
}

.urlBlock {
  width: 100%;
  display: flex;
  gap: 20px;
}

button {
  cursor: pointer;
  color: white;
  border: 2px solid #4CAF50;
  background-color: transparent;
  padding: 8px 20px;
  border-radius: 5px;
  font-size: 16px;
  transition: .2s;
}

.active {
  color: #4CAF50 !important;
}

.uploadButton:hover {
  color: #222;
  background-color: #4CAF50;
}

.uploadButton:active:not(.uploadButton:disabled) {
  scale: .9;
}

.uploadButton:disabled {
  cursor: not-allowed;
  border: 2px solid gray;
}

.uploadButton:disabled:hover {
  background-color: gray;
}